/**
 * About us page rules
 */

.about__title {
  margin: 0 1rem 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  color: $text-color;
  font-family: $font-family-special;
  text-shadow: 2px -2px rgba($primary-color, .3);

  @media (min-width: $sm) { font-size: 3.3rem; }

  @media (min-width: $md) {
    font-size: 3.5rem;
    letter-spacing: .15rem;
  }

  @media (min-width: $lg) {
    font-size: 4.5rem;
    letter-spacing: .3rem;
  }

  @media (min-width: $xl) {
    font-size: 5rem;
    letter-spacing: .5rem;
  }
}

.about__content {
  background-color: rgba($background-color-light, .7);
  border-radius: 15px;
  padding: 2rem 0 1rem;
}

.about__text {
  width: 95%;
  padding: 1rem;
  border-left: 3px solid $primary-color;
  font-size: 1rem;

  @media (min-width: $md) {
    width: 85%;
    font-size: 1.2rem;
    font-weight: 600;
  }

  @media (min-width: $lg) { width: 80%; }
}

.year__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.year__item {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 0 0 3rem 0;

  @media (min-width: $lg) { flex-wrap: nowrap; }

  &:last-child { margin-bottom: .5rem; }
}

.year__text {
  flex: 1 1 35%;
  padding: 1rem .9rem;
  margin: 1rem;
  background-color: rgba($background-color-white, .9);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba($primary-color, .2), 0 6px 20px 0 rgba($primary-color, .1);
  color: $text-color-dark;

  @media (min-width: $lg) {
    order: initial;
  }
}

.year__title {
  font-family: $font-family-serif;

  & small {
    margin-left: 1rem;
    font-family: $font-family-sans-serif;
  }
}

.year__carousel {
  flex: 1 1 65%;
  order: 2;
  margin: 1rem;
  display: grid;
  justify-content: center;
  align-content: center;

  @media (min-width: $lg) { order: initial; }
}

.year__carousel__control {
  font-size: 2rem;

  @media (min-width: $lg) { font-size: 2.5rem; }
}

.about__quotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $lg) { flex-wrap: initial; }
}

.quote {
  flex: 0 1 80%;
  margin-top: 2rem;

  @media (min-width: $lg) { flex: 0 1 30%; }

  & h2 { font-family: $font-family-serif; }
}
