/**
 * Home page rules
 */

.home {
  text-align: center;
}

@supports (display: grid) {
  .home {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(50px, auto) repeat(6, 1fr) minmax(50px, auto);
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    align-content: center;
    text-align: initial;
  }
}

.home__title {
  margin: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 2.3rem;
  color: $text-color;
  font-family: $font-family-special;
  text-shadow: 2px -2px rgba($primary-color, .3);

  @media (min-width: $sm) { font-size: 3.3rem; }

  @media (min-width: $md) {
    font-size: 3.5rem;
    letter-spacing: .15rem;
  }

  @media (min-width: $lg) {
    font-size: 4.5rem;
    letter-spacing: .3rem;
  }

  @media (min-width: $xl) {
    font-size: 5rem;
    letter-spacing: .5rem;
  }
}

@supports (display: grid) {
  .home__title {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column: 1 / -1;
    text-align: initial;

    @media (min-width: $sm) { grid-column: 1 / -1; }

    @media (min-width: $md) { grid-column: 2 / -2; }

    @media (min-width: $lg) { grid-column: 2 / -2; }

    @media (min-width: $xl) { grid-column: 2/-2; }
  }
}

.home__video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

@supports (display: grid) {
  .home__video {
    grid-column: 1/-1;
    grid-row: 2/5;

    @media (min-width: $sm) { grid-column: 2/-2; }

    @media (min-width: $xl) { grid-column: 3/-3; }
  }
}

.home__video__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.home__date {
  display: inline-block;
  margin-top: 1rem;
  font-size: .9rem;
  color: $text-color;
  font-family: $font-family-sans-serif;
  text-shadow: 1px 1px rgba($primary-color, .1);

  &::after { content: ' - '; }

  @media (min-width: $sm) { font-size: 1.2rem; }

  @media (min-width: $xl) { font-size: 1.5rem; }
}

@supports (display: grid) {
  .home__date {
    display: block;
    grid-column: 1/5;
    grid-row: 5/6;
    margin: 0;
    padding-left: 1rem;
    text-align: initial;

    &::after { content: none; }

    @media (min-width: $sm) { grid-column: 2/5; }

    @media (min-width: $xl) { grid-column: 3/5; }
  }
}

.home__place {
  display: inline-block;
  margin-top: 1rem;
  font-size: .9rem;
  color: $text-color;
  font-family: $font-family-sans-serif;
  text-shadow: 1px 1px rgba($primary-color, .1);

  @media (min-width: $sm) { font-size: 1.2rem; }

  @media (min-width: $xl) { font-size: 1.5rem; }
}

@supports (display: grid) {
  .home__place {
    display: block;
    grid-column: 5/9;
    grid-row: 5/6;
    margin: 0;
    padding-right: 1rem;

    @media (min-width: $sm) { grid-column: 5/8; }

    @media (min-width: $xl) { grid-column: 5/7; }
  }
}

.home__tickets {
  margin: 1rem 20% 0;
  padding: 1rem 0;
  border-radius: 10px;
  background-color: $secondary-color;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .5px;

  &:hover { box-shadow: 0 4px 8px 0 rgba($primary-color, .1), 0 6px 20px 0 rgba($primary-color, .1); }

  @media (min-width: $sm) { font-size: 1.5rem; }

  & a {
    text-decoration: none;
    color: inherit;
  }

  & a:hover {
    text-decoration: none;
    color: inherit;
  }
}

@supports (display: grid) {
  .home__tickets {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column: 3/7;
    margin: 1rem 0 0;
    font-size: 1.2rem;

    @media (min-width: $sm) {
      display: block;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 1.5rem;
      border-radius: 15px 0 0 15px;
      grid-row: 3/4;
      grid-column: 8/9;
      height: 200px;
      writing-mode: vertical-rl;
      letter-spacing: 2px;
    }
  }
}
