/**
 * Full website rules
 */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  background-color: $background-color;
  color: $text-color;
  background-image: url($background-image);
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: $md) { background-size: cover; }
}

.body {
  background-size: contain;
}

.link {
  color: $text-color;
  text-decoration: none;
  padding: .1em;
  position: relative;
  letter-spacing: 1px;

  &::before,
  &::after {
    position: absolute;
    -webkit-transition: all .35s ease;
    transition: all .5s ease;
  }

  &::before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: '';
    background-color: $primary-color;
  }

  &::after {
    left: 0;
    top: 0;
    padding: .1em 0;
    position: absolute;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
  }

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  &:hover::before {
    opacity: 1;
    width: 100%;
  }

  &:hover::after {
    max-width: 100%;
  }
}
