/**
 * Full website rules
 */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url($background-image);
}

.title {
  @apply mb-4 pb-2 text-center font-bold text-4xl text-white font-special sm:text-5xl md:text-6xl md:tracking-widest lg:text-7xl grid justify-center content-center;
  text-shadow: 2px -2px rgba($primary-color, .3);
}

.primary-link {
  @apply text-gray-400 py-1.5 px-0.5 tracking-wide no-underline relative;
  
  &::before,
  &::after {
    @apply absolute transition-all duration-500;
  }

  &::before {
    @apply bottom-0 block w-0 h-0.5 bg-primary; 
    content: '';
  }

  &::after {
    @apply left-0 top-0 py-1.5 absolute whitespace-nowrap overflow-hidden max-w-0;
  }

  &:hover {
    @apply text-white no-underline;
  }

  &:hover::before {
    @apply opacity-100 w-full;
  }

  &:hover::after {
    @apply max-w-full;
  }
}

.secondary-link {
  @apply text-gray-400 no-underline;

  &:hover {
    @apply text-primary transition-all duration-300 ease-in-out;
    text-shadow: 2px 2px 2px rgba($primary-color, .2), -2px -2px 2px rgba($primary-color, .2);
  }
}
