/**
 * Fonts
 */

/* Mixin to allow google fonts imports */
@mixin google-font($family) {
  @import url('https://fonts.googleapis.com/css?family=#{$family}');
}

/* Include that two google fonts */
@include google-font('Raleway');
@include google-font('Roboto+Slab');
@include google-font('Gloria+Hallelujah');
