/**
 * Variables file
 */

/* Tell fontawesome where his files are located */
$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts';

/* Define colors */
$primary-color: #ffc600;

/* Define background img */
$background-image: '../images/background.jpg';
